## Test Report


| Test Name                                                         | Status | Bug report ID |
|-------------------------------------------------------------------|--------|---------------|
| **1. Registration / Authorisation:**                              |        |               |
| TC-1 If user is not authorised, then Sign in button is visible    | Passed |               |
| TC-2 Click on the Sign in button opens authorisation page         | Passed |               |
| TC-3 Email validation on the Create an account form               | Passed |               |
| TC-4 Create new account with new email                            | Passed |               |
| TC-5 Create new account with existing email                       | Failed | BR-1          |
| **2. Search:**                                                    |        |               |
| TC-6 Search for existing product item                             | Failed | BR-3          |
| TC-7 Search for not existing product item                         | Passed |               |
| TC-8 Add Items to the Cart                                        | Passed |               |
| TC-9 Checkout with payment by cheque for user with filled address | Failed | BR-4          |
